@max-pc-width: 5120px;
@max-phone-width: 640px;

body {
	background: white;
	margin: 0;
    font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
    color: #404040;
    -webkit-font-smoothing: antialiased;
    text-align: justify;
	a {
		text-decoration: none;
	}
}

body::selection {
	background: #e0efe2;
}

#toc {
	@media screen and (max-width: @max-pc-width) {
		float: right;
		padding: 10px 10px 10px 50px;
	}

	@media screen and (max-width: @max-phone-width) {
		float: none;
		padding: 0;
	}

	.last-edit {
		color: #555;
		font-size: .9em;
		margin-bottom: 15px;
	}

	#toc-body {
		border: 1px solid #e2e2e2;
		padding: 10px 20px 10px 10px;
		p {
			border-bottom: 1px solid #e2e2e2;
		}
	}
}

.container {
	background: transparent;
	width: 100%;
	min-height: fit-content;
	height: fit-content;
	display: flex;
	@media screen and (max-width: @max-pc-width) {
		flex-direction: row;
	}

	@media screen and (max-width: @max-phone-width) {
		flex-direction: column;
	}

	.side-bar {
		flex: 1;
		background-image: url(/assets/sidebar_background.jpeg);
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		max-height: 100vh;

		nav {
			@media screen and (max-width: @max-pc-width) {
				width: 80%;
			}
		
			@media screen and (max-width: @max-phone-width) {
				width: 100%;
			}
			li {
				@media screen and (max-width: @max-pc-width) {
					float: none;
				}
			
				@media screen and (max-width: @max-phone-width) {
					float: left;
				}
				margin: 10px;
			}
		}

		a {
			color: #fff;
			text-shadow: 0 1px #666;
			transition: color .3s;
		}

		.avatar {
			width: 50%;
			height: fit-content;
			border-radius: 50%;
		}

		#social {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.social-avatar {
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: white;
				margin: 20px 10px;
			}
		}

	}

	.post-content {
		flex: 4;

		@media screen and (max-width: @max-pc-width) {
			overflow: scroll;
			height: 100vh;
		}
	
		@media screen and (max-width: @max-phone-width) {
			overflow: hidden;
			height: fit-content;
		}

		.post-container {
			display: flex;
			flex-direction: column;

			.post-comments {
				margin-top: 80px;
			}
		}


	}
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 100% !important;
	background: transparent !important;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: @max-phone-width) {
	.markdown-body {
		padding: 15px;
	}
}

.views-count {
	@media screen and (max-width: @max-pc-width) {
		position: fixed;
		bottom: 10px;
		left: 10px;
	}

	@media screen and (max-width: @max-phone-width) {
		position: static;
		display: none;
	}
}

.reminder {
	padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #e2e2e2;
    background-color: #ffffc0;
    border-left: 5px solid #fff000;
    color: #333;
	margin-top: 50px;
}

.search-field {
	@media screen and (max-width: @max-pc-width) {
		.search-input {
			visibility: hidden;
			opacity: 0;
			transition: all 500ms ease;
			width: 40vw;
			height: 30px;
		}
	}
	@media screen and (max-width: @max-phone-width) {
		.search-input {
			width: 90vw;
			height: 30px;
		}
	}

    width: fit-content;
    margin-left: auto;
    margin: 20px 20px 0 auto;
	.search-dropdown {
		@media screen and (max-width: @max-pc-width) {
			width: 40vw;
			max-height: 40vh;
		}
		@media screen and (max-width: @max-phone-width) {
			width: 90vw;
			max-height: 40vh;
		}
		border-radius: 5px;
		padding-right: 10px;
		white-space: nowrap;
		position: relative;
		background: white;
		::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}
		.dropdown-container {
			display: flex;
			flex-direction: column;
			width: fit-content;
			width: 100%;
			align-items: flex-start;
			justify-content: center;
		}
		.search-dropdown-cell-container {
			padding: 5px;
			width: 100%;
		}
		.search-dropdown-cell {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
			width: 100%;
			a {
				color: inherit;
			}
			.search-dropdown-content {
				font-size: 20px;
				color: gray;
				flex: 4;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.search-dropdown-title {
				font-size: 12px;
				color: black;
				flex: 1;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}
@font-face {
  font-family: icons;
  src: url(/assets/font_823612_7cz7sb6mqai.eot);
	src: 
    url(/assets/font_823612_7cz7sb6mqai.woff2) format("woff2"),
    url(/assets/font_823612_7cz7sb6mqai.woff) format("woff"),
    url(/assets/font_823612_7cz7sb6mqai.ttf) format("truetype"),
    url(/assets/font_823612_7cz7sb6mqai.svg) format("svg");
}
.icon-font {
  font-family: icons !important;
}

.search-button {
	height: 30px;
	width: 50px;
	background-color: #0089FF;
	border-color: antiquewhite;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	display: inherit;
	opacity: 1;
	transition: all 500ms ease;
	position: absolute;
	right: 20px;
	top: 20px;
}