body {
  background: white;
  margin: 0;
  font-size: 14px;
  font-family: Roboto, Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Noto Sans CJK", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body a {
  text-decoration: none;
}
@media screen and (max-width: 5120px) {
  #toc {
    float: right;
    padding: 10px 10px 10px 50px;
  }
}
@media screen and (max-width: 640px) {
  #toc {
    float: none;
    padding: 0;
  }
}
#toc .last-edit {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 15px;
}
#toc #toc-body {
  border: 1px solid #e2e2e2;
  padding: 10px 20px 10px 10px;
}
#toc #toc-body p {
  border-bottom: 1px solid #e2e2e2;
}
.container {
  background: transparent;
  width: 100%;
  min-height: fit-content;
  height: fit-content;
  display: flex;
}
@media screen and (max-width: 5120px) {
  .container {
    flex-direction: row;
  }
}
@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }
}
.container .side-bar {
  flex: 1;
  background-image: url(/assets/sidebar_background.jpeg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-height: 100vh;
}
@media screen and (max-width: 5120px) {
  .container .side-bar nav {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .container .side-bar nav {
    width: 100%;
  }
}
.container .side-bar nav li {
  margin: 10px;
}
@media screen and (max-width: 5120px) {
  .container .side-bar nav li {
    float: none;
  }
}
@media screen and (max-width: 640px) {
  .container .side-bar nav li {
    float: left;
  }
}
.container .side-bar a {
  color: #fff;
  text-shadow: 0 1px #666;
  transition: color 0.3s;
}
.container .side-bar .avatar {
  width: 50%;
  height: fit-content;
  border-radius: 50%;
}
.container .side-bar #social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .side-bar #social .social-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  margin: 20px 10px;
}
.container .post-content {
  flex: 4;
}
@media screen and (max-width: 5120px) {
  .container .post-content {
    overflow: scroll;
    height: 100vh;
  }
}
@media screen and (max-width: 640px) {
  .container .post-content {
    overflow: hidden;
    height: fit-content;
  }
}
.container .post-content .post-container {
  display: flex;
  flex-direction: column;
}
.container .post-content .post-container .post-comments {
  margin-top: 80px;
}
.markdown-body {
  max-width: 100% !important;
  background: transparent !important;
}
@media screen and (max-width: 5120px) {
  .views-count {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
}
@media screen and (max-width: 640px) {
  .views-count {
    position: static;
    display: none;
  }
}
.reminder {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #ffffc0;
  border-left: 5px solid #fff000;
  color: #333;
  margin-top: 50px;
}
